#Supabase Password
passwordHere

PORT=4000

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.bhhxitxajbuampnxexlr:@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.bhhxitxajbuampnxexlr:[Y]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

JWT_SECRET=afdfAAasfaDFADF6afdafFfaUHffaDAdaaTADZfHafafdafaffaff

GOOGLE_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here
UPLOAD_DIR=uploads